<div class="landingPage">
    <nav id="navbar">
        <ul>
            <h1>PropManage</h1>
            <li>
                <a href="#">Início <span class="seta">▼</span></a>
                <div class="dropdown">
                    <a href="#">Sobre nós</a>
                    <a href="#">Sla</a>
                    <a href="#">Consultoria</a>
                </div>
            </li>
            <li>
                <a href="#">Serviços <span class="seta">▼</span></a>
                <div class="dropdown">
                    <a href="#">Web Design</a>
                    <a href="#">Marketing</a>
                    <a href="#">Consultoria</a>
                </div>
            </li>
            <li>
                <a href="#">Contato <span class="seta">▼</span></a>
                <div class="dropdown">
                    <a href="#">Instagram</a>
                    <a href="#">Email</a>
                    <a href="#">Telefone</a>
                </div>
            </li>
        </ul>
        <div class="div-button">
            <button>Entrar</button>
        </div>
    </nav>
    <section id="sec-header">
        <h1>Gestão de propriedades</h1>
        <h1>Sem esforço</h1>
        <img src="https://s3-alpha-sig.figma.com/img/1945/5923/9804e94386ac22ab9f1d45c070283238?Expires=1742169600&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=jK~DmpMPsx8DuJ1nqQGA9LZPLHqDXe0NiVIZDseIikVGMgJsrAItaWhGrlKPdpvIsX-JIdVjiKlzq6an~vNEXA7JvmkUOPil3FXb56hEjw3kgVEkAQFkkIi19tOpEQSQBoNewwoSK0pIGukhj2H2IYCLbv5XQI2eWVQradAyVWdEHn1v~dzUAvQVObmkyP-f1ruhb6z15O8t21hD8BsNtLlWFVLhGFQmrSJ47NnqZ2AIKg1mQReuvE2vI4~q9a57LIK4tEtlUf6nBig4YZqPuByU85059yIUBjLQIHVNjksLdmQq92c3bPxFe0Q-1kF077BqJniUyVPBsHs66g4MPw__" alt="">
    </section>

    <section id="sec-marketing">
        <h1>Otimize sua gestão de propriedades</h1>
        <div class="div-marketing">
            <div class="marketin-1">
                <div class="text-div">
                    <h2>Pagamentos seguros</h2>
                    <p>Rastreie e gerencie pagamentos com segurança.</p>
                </div>
                <div class="img-div" id="image1">
                    <img src="../imagens/image1.png" alt="">
                </div>
            </div>
            <div class="marketin-2">
                <div class="text-div">
                    <h2>Portal do Inquilino</h2>
                    <p>Um portal dedicado para inquilinos.</p>
                </div>
                <div class="img-div" id="image2">
                    <img src="../imagens/image4.png" alt="">
                </div>
            </div>
        </div>
        <div class="div-marketing">
            <div class="marketin-2">
                <div class="text-div">
                    <h2>Alertas de seviços</h2>
                    <p>Fique informado sobre problemas da propriedade.</p>
                </div>
                <div class="img-div" id="image3">
                    <img src="../imagens/image3.png" alt="">
                </div>
            </div>
            <div class="marketin-1">
                <div class="text-div">
                    <h2>Gestão de Contratos</h2>
                    <p>Visualize e genrencie contratos facilmente.</p>
                </div>
                <div class="img-div" id="image4">
                    <img src="../imagens/image2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section id="sec-escolher">
        <div>
            <h1>Por que nos escolher?</h1>
        </div>
        <div>
            <p>Nossa plataforma oferece uma experiência integrada para inquilinos e administradores, garantindo que todas as necessidades de gestão de propriedades sejam atendidas de forma eficiente.</p>
        </div>
    </section>

    <section id="sec-painel">
        <div id="div-painel-1">
            <h1>Painel Unificado</h1>
            <p>Monitore todas as suas propriedades a partir de um único painel.</p>
            <button>Saiba Mais</button>
        </div>
        <div>
            <img src="../imagens/image5.png" alt="">
        </div>
    </section>

    <section id="sec-seguranca">
        <div>
            <img src="../imagens/image6.png" alt="">
        </div>
        <div id="div-seguranca-text">
            <h1>Segurança Aprimorada</h1>
            <p>Autenticação segura garante proteção de dados.</p>
            <button>Comece Agora</button>
        </div>
    </section>
</div>
<footer>
    <div class="footer-container">
        <div class="logo">
            <h1>PropManage</h1>
        </div>
        <div class="footer-columns">
            <div class="column">
                <ul>
                    <li><a href="#">Sobre nós</a></li>
                    <li><a href="#">Carreiras</a></li>
                    <li><a href="#">Imprensa</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Contato Suporte</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><a href="#">Política de privacidade</a></li>
                    <li><a href="#">Termos de Serviço</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>