<div class="container">

    <div class="name-user">
        <h1 class="name-title">Notificações</h1>

    </div>



    <div class="content">


        <div class="join-tables">

            <h1 class="title">Últimas atualizações</h1>


            <div class="table-section">
                <table class="payments-table">

                    <thead>
                        <tr>
                            <th>Data e hora</th>
                            <th>Processo</th>
                            <th>Referente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>23/02/2025 14:30</td>
                            <td>Alerta</td>
                            <td>Reforma das escadas</td>
                        </tr>
                        <tr>
                            <td>23/02/2025 14:30</td>
                            <td>Alerta</td>
                            <td>Reforma das escadas</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>