.contratos{
    width: 85vw;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70vw;
    height: 90vh;
}

.contratos h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 28px;
    color: #3F3F46;

}

