<div style="padding-left: 32px; padding-right: 32px; padding: 32px; display: flex; flex-direction: column;">
    <div class="greeting" style="display: flex; justify-content: space-between;">
        <h1>Contratos</h1>
        <button type="button" (click) ="openModal()" class="btn" style="background-color: #0F172A; color: white;">Novo</button>
    </div>
    <div style="display: flex; flex-direction: column; gap: 16px;">
        <div class="paymentContent">
            <h2 class="card-title">Lista de Contratos</h2>
            <p class="card-text">Confira todos os contratos ativos e expirados dos apartamentos. Aqui você pode
                visualizar detalhes, atualizar informações ou adicionar novos contratos para garantir uma gestão
                eficiente.</p>
        </div>
        <table style="background-color: #F4F4F5; border-radius: 10px; width: 100%;" class="table">
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>TITULAR</th>
                    <th>UH</th>
                    <th>PROCESSO</th>
                    <th>REFERENTE</th>
                    <th>DATA DE ACEITE</th>
                    <th>STATUS</th>
                    <th>AÇÕES</th>
                </tr>
            </thead>
            <tbody>
                <tr style="background-color: white;">
                    <td>19/02/2025</td>
                    <td>Ana Silvestre</td>
                    <td>101</td>
                    <td>Renovação</td>
                    <td>2025</td>
                    <td>23/02/2025</td>
                    <td><span class="status deferido">DEFERIDO</span></td>
                    <td style="color: #007AFF; cursor: pointer;">Download</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>