<div class="p-6">
  <!-- Inquilino Section -->
  <div class="section mb-6">
    <div class="modal-header mb-4">
      <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold">Perfil</h2>
        <p class="text-gray-600 text-sm">
          Nesta seção, você pode selecionar um inquilino e definir suas informações básicas.
          Para alterações em dados sensíveis, como documento de identificação para emissão de faturas, entre em contato com o suporte.
        </p>
      </div>
    </div>
    <div class="modal-body">
      <div class="grid grid-cols-1">
        <mat-form-field>
          <mat-label>Selecione um inquilino</mat-label>
          <mat-select [(ngModel)]="selectedInquilino">
            <mat-option value="" disabled selected><p>Selecione um inquilino</p></mat-option>
            <mat-option *ngFor="let inquilino of inquilinos" [value]="inquilino.id">
              <p>{{ inquilino.nome }}</p>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="section mb-6">
    <div class="modal-header mb-4">
      <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold">Aluguel</h2>
        <p class="text-gray-600 text-sm">
          Nesta seção, você pode visualizar e gerenciar as informações do aluguel, incluindo valores, vencimentos e status de pagamento.
          Para qualquer ajuste contratual, entre em contato com a administração.
        </p>
      </div>
    </div>

    <div class="modal-body space-y-4">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <mat-form-field class="w-full">
          <mat-label>Condominio</mat-label>
          <input [(ngModel)]="condominioPrice" matInput type="text">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>IPTU(mensal)</mat-label>
          <input [(ngModel)]="iptuPrice" matInput type="text">
        </mat-form-field>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
        <mat-form-field class="w-full">
          <mat-label>Internet</mat-label>
          <input [(ngModel)]="internetPrice" matInput type="text">
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Mensalidade</mat-label>
          <input [(ngModel)]="aluguelPrice" matInput type="text">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Selecione um apartamento</mat-label>
          <mat-select [(ngModel)]="apnum">
            <mat-option value="" disabled selected><p>Selecione um inquilino</p></mat-option>
            <mat-option *ngFor="let apartamento of apartamentos" [value]="apartamento.id">
              <p>{{ apartamento.apnum }}</p>
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
      <div class="grid grid-cols-1">
        <mat-form-field>
          <mat-label>Selecione um status</mat-label>
          <mat-select [(ngModel)]="statusSelecionado">
            <mat-option value="" disabled selected>Selecione um Status</mat-option>
            <mat-option value="DEFERIDO"><p>DEFERIDO</p></mat-option>
            <mat-option value="INDEFERIDO"><p>INDEFERIDO</p></mat-option>
            <mat-option value="CANCELADO"><p>CANCELADO</p></mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>

  <!-- Footer -->
  <div class="modal-footer flex justify-end gap-2 mt-6">
    <button 
      mat-raised-button 
      color="primary"
      class="!bg-[#0F172A] !text-white" (click)="setUpNewContract()"
    >
      Salvar
    </button>
  </div>
</div>