<div class="container">

    <div class="content">
        <div class="name-user">
            <h1 class="name-title">Configurações</h1>

        </div>

        <div class="section">
            <div style="display: none;">
                <h1 class="amount">Perfil</h1>
            <p class="desc">Nesta seção, você pode atualizar seus dados pessoais e preferências.
                Para alterações em informações sensíveis, como documento de identificação para emissão de faturas, entre
                em contato com o suporte.
            </p>

            <div class="section-name-email">
                <div>
                    <h1 class="amount">Nome completo</h1>
                    <input class="input-info" type="text" name="" id="">
                </div>

                <div>
                    <h1 class="amount">Email</h1>
                    <input class="input-info" type="email" name="" id="">
                </div>
                <h1 class="amount">Telefone</h1>
                <input class="input-info" type="text" name="" id="">
    
            </div>

            </div>
           
            <div class="section-sup">
                <h1 class="amount">Suporte e Atualização de Informações 🛠️</h1>
                <p class="desc">Precisa de ajuda? Nossa equipe de suporte está pronta para atender você! Encontre
                    respostas para suas dúvidas, solicite assistência ou entre em contato diretamente conosco para
                    resolver qualquer questão de forma rápida e eficiente.<br /><br />
                    Além disso, aqui você pode atualizar suas informações de identificação e endereço de cobrança. Para
                    garantir sua segurança, alterações em documentos sensíveis requerem contato com nossa equipe.
                    Estamos prontos para ajudar!</p>
                <input class="mensage" type="text" name="" id="">
            </div>

            <button class="btn">Enivar</button>

        </div>



    </div>
</div>