@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.sidebar {
  background-color: #ffffff;
  padding: 10px;
  border-bottom: 1px solid #000000;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Adiciona transição de opacidade */
  max-height: 0; /* Começa escondido */
  overflow: hidden; /* Esconde conteúdo quando colapsado */
  width: 100%; /* Largura total em mobile */
  position: absolute; /* Abaixo do header */
  top: 50px; /* Alinhado ao header */
  left: 0;
  z-index: 1000;
  opacity: 0; /* Inicia com opacidade zero */
}

.sidebar.collapsed {
  max-height: 0; /* Mantém colapsado */
  opacity: 0; /* Totalmente invisível */
}

.sidebar:not(.collapsed) {
  max-height: 100vh; /* Expande até o limite da tela */
  opacity: 1; /* Totalmente visível */
}

/* Estilos existentes */
.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar p {
  padding: 10px;
  margin-bottom: 5px;
  font-size: 15px;
  font-family: 'Inter';
  font-weight: 500;
  color: rgba(63, 63, 70, 0.8);
}

.sidebar a {
  text-decoration: none;
  color: #333;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 400;
  color: #3F3F46;
}

.sidebar a:hover {
  background-color: #ddd;
}

.logo {
  background-color: #000000;
  color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  width: 100%;
  height: 40px;
  border-radius: 6px;
  background-color: rgba(15, 23, 42, 1);
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;
}

/* Desktop */
@media (min-width: 768px) {
  .sidebar {
    position: relative; /* Fixo à esquerda */
    top: 0;
    width: 250px; /* Largura fixa */
    height: 100vh; /* Altura total */
    max-height: none; /* Remove limite de altura */
    border-right: 1px solid #000000; /* Borda à direita */
    border-bottom: none; /* Remove borda inferior */
    transition: none; /* Sem transição em desktop */
    opacity: 1; /* Sempre visível */
  }
  .sidebar.collapsed {
    max-height: none; /* Sempre visível */
  }
}