<div class="usuarios">
    <div class="container">
        <div style="display: flex; justify-content: space-between;">
        <h1>Usuários</h1>
        <button type="button"  (click)="openModal()" class="btn"  style="background-color: #0F172A; color: white;">  Novo </button>
        </div>
        <div style="margin-top: 20px;" class="card border border-dark me-3">
            <div class="card-body d-flex align-items-center">
              <div style="margin-right: 10px;">
                <h5 class="card-title">Gestão de Inquilinos</h5>
                <p class="card-text">Aqui você pode visualizar, adicionar e gerenciar os inquilinos do prédio. Mantenha as informações sempre atualizadas para uma administração eficiente e organizada.</p>
                <table style="background-color: #F4F4F5; border-radius: 10px;" class="table">
                    <thead>
                        <tr>
                            <th>NOME</th>
                            <th>EMAIL</th>
                            <th>TELEFONE</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color: white; border-radius: 500px;">
                            <td> Ana Silvestre </td>
                            <td>user&#64;email.com</td>
                            <td>45999999999</td>
                            <td (click)="openModal()" style="color: #007AFF;">Editar</td>
                        </tr>
                    </tbody>
                </table>
              </div>
           
            </div>
          </div>
       
</div>
</div>



