<div class="configuracoes">
    <div class="container">
        <div style="display: flex; justify-content: space-between;">
        <h1>Configurações</h1>
        </div>
        <div class="modal-header">
            <div style="display: flex; flex-direction: column;">
            <h5 class="modal-title" id="exampleModalLabel"> Suporte e Atualização de Informações 🛠️</h5>
            <p class="card-text">Precisa de ajuda? Nossa equipe de suporte está pronta para atender você! Encontre respostas para suas dúvidas, solicite assistência ou entre em contato diretamente conosco para resolver qualquer questão de forma rápida e eficiente.

                Além disso, aqui você pode atualizar suas informações de identificação e endereço de cobrança. Para garantir sua segurança, alterações em documentos sensíveis requerem contato com nossa equipe. Estamos prontos para ajudar!</p>
                <div>
                    <input mdbInput type="text" id="form8Example1" class="form-control" />
                    <label mdbLabel class="form-label" for="form8Example1">Digite sua mensagem aqui</label>
                </div>
                  <button type="button" class="btn" style="background-color: #0F172A; width: 10%; margin-top: 5px; color: white;"> Enviar </button>
        </div>
    </div>
</div>