<div style="padding-left: 32px; padding-right: 32px; padding: 32px; display: flex; flex-direction: column;">
    <div class="greeting" style="display: flex; justify-content: space-between;">
        <h1>Usuários</h1>
        <button type="button" (click) ="openModal()" class="btn" style="background-color: #0F172A; color: white;">Novo</button>
    </div>
    <div style="display: flex; flex-direction: column; gap: 16px;">
        <div class="paymentContent">
            <h2 class="card-title">Gestão de Inquilinos</h2>
            <p class="card-text">Aqui você pode visualizar, adicionar e gerenciar os inquilinos do prédio. Mantenha as informações sempre atualizadas para uma administração eficiente e organizada.</p>
        </div>
        <table style="background-color: #F4F4F5; border-radius: 10px; width: 100%;" class="table">
            <thead>
                <tr>
                    <th>NOME</th>
                    <th>EMAIL</th>
                    <th>TELEFONE</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios" style="background-color: white;">
                    <td>{{usuario.nome}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.telefone}}</td>
                </tr>
            </tbody>
        </table>
    </div>
       
</div>





