<div class="container h-screen flex flex-col items-center justify-center md:grid lg:max-w-none lg:grid-cols-2 lg:px-0">
  <!-- Sidebar -->
  <div class="relative hidden h-full flex-col bg-muted p-10 text-white dark:border-r lg:flex">
    <div class="absolute inset-0 bg-zinc-900"></div>
    <div class="relative z-20 flex items-center text-lg font-medium gap-1">
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M14 2.33334V25.6667M22.2496 5.75043L5.75046 22.2496M25.6667 14H2.33337M22.2496 22.2496L5.75046 5.75043"
          stroke="#FCFCFC" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
      </svg>
      <span>PropManage</span>
    </div>
    <div class="relative z-20 mt-auto">
      <blockquote class="space-y-2">
        <p class="text-2xl">
          Gerencie suas Propriedades com <br />
          <strong>Eficiência e Facilidade</strong>
        </p>
      </blockquote>
    </div>
  </div>
  <div class="flex min-h-screen w-full items-center justify-center p-6 md:p-10" style="background-image: url(../../../assets/Background\ Image.png); background-size: cover; background-position: center; background-repeat: no-repeat;">
    <div class="w-full max-w-sm">
      <app-login-menu></app-login-menu>
    </div>
  </div>
</div>