<div class="pagamentos">
    <div class="container">
        <div style="display: flex; justify-content: space-between;">
        <h1>Pagamentos</h1>
        </div>
        <div style="margin-top: 20px;" class="card border border-dark me-3">
            <div class="card-body d-flex align-items-center">
              <div style="margin-right: 10px;">
                <h5 class="card-title">Gestão de Pagamentos</h5>
                <p class="card-text">Acompanhe e gerencie todos os pagamentos do condomínio, incluindo aluguéis, taxas e outras despesas. Verifique o status de cada transação e mantenha as finanças sempre organizadas.</p>
                <table style="background-color: #F4F4F5; border-radius: 10px;" class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>TITULAR</th>
                            <th>UH</th>
                            <th>REFERENTE</th>
                            <th>VENCIMENTO</th>
                            <th>STATUS</th>
                            <th>AÇÕES</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="background-color: white; border-radius: 500px;">
                            <td>#111</td>
                            <td> Ana Silvestre </td>
                            <td>101</td>
                            <td>2025</td>
                            <td>23/02/2025</td>
                            <td><button type="button" class="btn btn-outline-success btn-rounded" mdbRipple rippleColor="dark">Pago</button></td>
                            <td style="color: #007AFF;">Dowload</td>
                        </tr>
                    </tbody>
                </table>
              </div>
           
            </div>
          </div>
    </div>
</div>