<div style="padding-left: 32px; padding-right: 32px; padding: 32px; display: flex; flex-direction: column;">
    <div class="greeting" style="display: flex; justify-content: space-between;">
        <h1>Pagamentos</h1>
    </div>
    <div style="display: flex; flex-direction: column; gap: 16px;">
        <div class="paymentContent">
            <h2 class="card-title">Gestão de Pagamentos</h2>
            <p class="card-text">Acompanhe e gerencie todos os pagamentos do condomínio, incluindo aluguéis, taxas e outras despesas. Verifique o status de cada transação e mantenha as finanças sempre organizadas.</p>
        </div>
        <table style="background-color: #F4F4F5; border-radius: 10px; width: 100%;" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>TITULAR</th>
                    <th>UH</th>
                    <th>REFENTE</th>
                    <th>VENCIMENTO</th>
                    <th>STATUS</th>
               </tr>
            </thead>
            <tbody>
                
                <tr style="background-color: white;">
                    <td>#111</td>
                    <td>Ana Silvestre</td>
                    <td>101</td>
                    <td>2025</td>
                    <td>23/02/2025</td>
                    <td><span class="status deferido">DEFERIDO</span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



