<div class="container">
     <div class="name-user">
    <h1 class="name-title">Olá, {{ userName }}</h1>
  </div> 
  <div class="content">

    <div class="container-section">
      <div class="section">
        <div class="icon-pag">
          <h1 class="title">Pagamentos</h1>
          <i class="material-symbols-outlined">payments</i>
        </div>
        <p class="desc">Próximo pagamento:</p>
        <h1 class="amount">R$ {{ nextPayment }}</h1>
      </div>
      <div class="section">
        <div class="icon-pag">
          <h1 class="title">Contratos</h1>
          <i class="material-symbols-outlined">contract</i>
        </div>
        <p class="desc">Nenhuma ação pendente</p>
        <h1 class="amount">1</h1>
      </div>
    </div>
    
    <div class="container-section">
      <div class="join-tables">
        <h1 class="title">Último pagamentos</h1>
        <p class="desc">Confira seus pagamentos</p>
        <div class="table-section">
          <table class="payments-table">
            <thead>
              <tr>
                <th>Mês</th>
                <th>Valor</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let payment of lastPayments">
                <td>{{ payment.vencimento }}</td>
                <td>R$ {{ payment.valor | number:'1.2-2' }}</td>
                <td>{{ payment.status }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="join-tables">
        <h1 class="title">Últimas notificações</h1>
        <p class="desc">Última atualização:</p>
        <div class="table-section">
          <table class="payments-table">
            <thead>
              <tr>
                <th>Mês</th>
                <th>Mensagem</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let notification of lastNotifications">
                <td>{{notification.data}}</td>
                <td>{{notification.titulo}}</td>
                <td>{{notification.status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>