<div class="container">

    <div class="name-user">
        <h1 class="name-title">Pagamentos</h1>

    </div>



    <div class="content">


        <div class="section">
            <div class="icon-pag">
                <h1 class="title">Próximo pagamentos</h1>
                <button class="btn">Pagar</button>
            </div>
            <p class="desc">Vencimento em:</p>
            <h1 class="amount">R$ 1200,00</h1>
        </div>



        <div class="join-tables">

            <h1 class="title">Último pagamentos</h1>
            <p class="desc">Confira seus pagamentos</p>

            <div class="table-section">
                <table class="payments-table">

                    <thead>
                        <tr>
                            <th>Mês</th>
                            <th>Valor</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Janeiro</td>
                            <td>R$ 1.000,00</td>
                            <td>Pago</td>
                            <td class="download">Download</td>
                        </tr>
                        <tr>
                            <td>Fevereiro</td>
                            <td>R$ 1.200,00</td>
                            <td>Pendente</td>
                            <td class="download">Download</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>