<div>
    <div class="modal-header">
        <div style="display: flex; flex-direction: column;">
        <h5 class="modal-title" id="exampleModalLabel"> Novo Contrato</h5>
        <p class="card-text">Registre um novo contrato para um apartamento. Preencha as informações do inquilino, defina as condições do contrato e a data de vigência. Certifique-se de que todos os dados estão corretos antes de confirmar.  </p>
        <h5 class="modal-title" id="exampleModalLabel">  Aluguel</h5>
        <p class="card-text">Nesta seção, você pode visualizar e gerenciar as informações do aluguel, incluindo valores, vencimentos e status de pagamento.
          Para qualquer ajuste contratual, entre em contato com a administração. </p>
    </div>
    
        
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col">
              <!-- Name input -->
              <mdb-form-control>
                <input mdbInput type="text" id="form8Example1" class="form-control" />
                <label mdbLabel class="form-label" for="form8Example1">Condominio</label>
              </mdb-form-control>
            </div>
            <div class="col">
              <!-- Email input -->
              <mdb-form-control>
                <input mdbInput type="email" id="form8Example2" class="form-control" />
                <label mdbLabel class="form-label" for="form8Example2">IPTU(mensal)</label>
              </mdb-form-control>
            </div>
          </div>
          
          <hr />
          
          <div class="row">
            <div class="col">
              <!-- Name input -->
              <mdb-form-control>
                <input mdbInput type="text" id="form8Example3" class="form-control" />
                <label mdbLabel class="form-label" for="form8Example3"> Internet</label>
              </mdb-form-control>
            </div>
            <div class="col">
              <!-- Name input -->
              <mdb-form-control>
                <input mdbInput type="text" id="form8Example4" class="form-control" />
                <label mdbLabel class="form-label" for="form8Example4">Mensalidade</label>
              </mdb-form-control>
            </div>
            <div class="col">
              <!-- Email input -->
              <mdb-form-control>
                <select mdbInput id="form8Example5" class="form-control">
                  <option value="" disabled selected>Selecione um Apartamento 
                  </option>
                  <option value="option1">Opção 1</option>
                  <option value="option2">Opção 2</option>
                  <option value="option3">Opção 3</option>
                  <option value="option4">Opção 4</option>
                </select>
              </mdb-form-control>
            </div>
          </div>
    
          
    
    

