<div class="container">

    <div class="name-user">
        <h1 class="name-title">Contratos</h1>

    </div>



    <div class="content">


        <div class="section">
            <h1 class="title">Seu contrato atual</h1>
            <p class="desc">Sem alterações pendentes</p>

            <div class="table-section-contract">
                <table class="payments-table">

                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Processo</th>
                            <th>Referente</th>
                            <th>Data de aceite</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>19/02/2025</td>
                            <td>Renovaçãp</td>
                            <td>2025</td>
                            <td>23/02/2025</td>
                            <td>Deferido</td>
                            <td class="download">Download</td>
                        </tr>
                        <tr>
                            <td>19/02/2025</td>
                            <td>Renovaçãp</td>
                            <td>2025</td>
                            <td>23/02/2025</td>
                            <td>Deferido</td>
                            <td class="download">Download</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <div class="join-tables">

            <h1 class="title">Último pagamentos</h1>
            <p class="desc">Confira seus pagamentos</p>

            <div class="table-section">
                <table class="payments-table">

                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Processo</th>
                            <th>Referente</th>
                            <th>Data de aceite</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>19/02/2025</td>
                            <td>Renovaçãp</td>
                            <td>2025</td>
                            <td>23/02/2025</td>
                            <td>Deferido</td>
                            <td class="download">Download</td>
                        </tr>
                        <tr>
                            <td>19/02/2025</td>
                            <td>Renovaçãp</td>
                            <td>2025</td>
                            <td>23/02/2025</td>
                            <td>Deferido</td>
                            <td class="download">Download</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>