h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    color: #090909;
    flex: none;
    order: 0;
    flex-grow: 0;
}

p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(63, 63, 70, 0.8);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.btn {
    padding: 8px 16px;
    border-radius: 8px;
}

.modal-header {
    padding-left: 32px;
    padding-top: 32px;
    padding-right: 32px;
    padding-bottom: 16px;
}

.modal-body {
    padding-left: 32px;
    padding-right: 32px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.modal-footer {
    padding-top: 16px;
    padding-left: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
}