<div style="padding-left: 32px; padding-right: 32px; padding: 32px; display: flex; flex-direction: column;">
    <div class="greeting" style="display: flex; justify-content: space-between;">
        <h1>Notificações</h1>
        <button type="button" (click)="openModal()" class="btn"
            style="background-color: #0F172A; color: white;">Novo</button>
    </div>
    <div style="display: flex; flex-direction: column; gap: 16px;">
        <div class="paymentContent">
            <h2 class="card-title">Central de Notificações</h2>
            <p class="card-text">Acompanhe todas as comunicações importantes em um só lugar. Envie avisos para os
                inquilinos, lembretes de pagamento e notificações sobre manutenção de forma rápida e eficiente.</p>
        </div>
        <table style="background-color: #F4F4F5; border-radius: 10px; width: 100%;" class="table">
            <thead>
                <tr>
                    <th>DATA</th>
                    <th>MENSAGEM</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let notification of lastNotifications" style="background-color: white;">
                    <td>{{ notification.data | date:'dd/MM/yyyy HH:mm' }}</td>
                    <td>{{ notification.titulo }}</td>
                    <td>
                        <span class="status" [ngClass]="notification.status.toLowerCase()">
                            {{ notification.status }}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>