<div>
    <div class="modal-header">
        <div style="display: flex; flex-direction: column;">
        <h5 class="modal-title" id="exampleModalLabel"> Perfil</h5>
        <p class="card-text">Nesta seção, você pode cadastrar um novo inquilino e definir suas informações básicas.
            Para alterações em dados sensíveis, como documento de identificação para emissão de faturas, entre em contato com o suporte. </p>
    </div>
    
        
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col">
              <!-- Name input -->
              <mdb-form-control>
                <input mdbInput type="text" id="form8Example1" class="form-control" />
                <label mdbLabel class="form-label" for="form8Example1">Primeiro Nome</label>
              </mdb-form-control>
            </div>
            <div class="col">
              <!-- Email input -->
              <mdb-form-control>
                <input mdbInput type="email" id="form8Example2" class="form-control" />
                <label mdbLabel class="form-label" for="form8Example2">Último nome</label>
              </mdb-form-control>
            </div>
          </div>
          
          <hr />
          
          <div class="row">
            <div class="col">
              <!-- Name input -->
              <mdb-form-control>
                <input mdbInput type="text" id="form8Example3" class="form-control" />
                <label mdbLabel class="form-label" for="form8Example3"> Data de Nascimento</label>
              </mdb-form-control>
            </div>
            <div class="col">
              <!-- Name input -->
              <mdb-form-control>
                <input mdbInput type="text" id="form8Example4" class="form-control" />
                <label mdbLabel class="form-label" for="form8Example4">RG</label>
              </mdb-form-control>
            </div>
            <div class="col">
              <!-- Email input -->
              <mdb-form-control>
                <input mdbInput type="email" id="form8Example5" class="form-control" />
                <label mdbLabel class="form-label" for="form8Example5">CPF</label>
              </mdb-form-control>
            </div>
          </div>
    
          <hr />
          
          <div class="row">
            <div class="col">
              <!-- Name input -->
              <mdb-form-control>
                <input mdbInput type="text" id="form8Example3" class="form-control" />
                <label mdbLabel class="form-label" for="form8Example3"> Profissão</label>
              </mdb-form-control>
            </div>

    
                        
    
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" style="background-color: #FF2D55; color: white;" disabled> Apagar </button>
        <button type="button" class="btn" style="background-color: #0F172A; color: white;"> Salvar </button>

      </div>
    
    
    
      
    